<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.verse.github.dao.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.verse.github.dao.domain.Customer">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="age" jdbcType="VARCHAR" property="age"/>
    </resultMap>

    <select id="query" resultMap="BaseResultMap" parameterType="com.verse.github.dao.domain.Customer" statementType="STATEMENT">
        select id,name,password,age from customer_${month}
    </select>
    <insert id="insert" parameterType="com.verse.github.dao.domain.Customer" statementType="STATEMENT">
        insert into customer_${month}(name,password,age) values("${name}","${password}","${age}")
    </insert>
</mapper>